<div class='flex'>
  <div class="w-1/3">
    <%= render partial: 'chat_rooms' %>
  </div>

  <div class='w-2/3 bg-blue-100 text-blue-700 shadow'>
    <div class='px-4 py-2'>
      <h4 class='font-bold mb-4'>
        Welcome to the Chat!
      </h4>

      <p>We need to talk :) </p>

      <br /><hr />

      <p class="py-4"> You can create or join a room from the sidebar </p>
    </div>
  </div>
</div>
